<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="record-container">
        <section class="section-margin" id="searchbar-section"></section>
        
        <section class="section-margin" id="user-info-section"></section>
        
        <section class="section-margin" id="score-info-section"></section>
        
        <section class="section-margin" id="total-statistics-section"></section>
        
        <section class="section-margin" id="score-detail-section"></section>
    </div>
</body>
</html> 