<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/pretendard@1.3.9/dist/web/static/pretendard-dynamic-subset.min.css"
    />
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="user-Info.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="user-profile">
      <header class="user-profile__header">
        <div class="user-profile__header__left">
          <button
            class="user-profile__header__left__totalBtn user-profile__header__left__Btn--active"
            type="button"
          >
            통합
          </button>
          <button class="user-profile__header__left__seasonBtn" type="button">
            시즌
          </button>
        </div>
        <div class="user-profile__header__right">
          <span class="user-profile__header__right__date"
            >2008년 9월 3일 (17년차 서든러)</span
          >
          <button
            class="user-profile__header__right__refresh-button"
            type="button"
          >
            전적 갱신
          </button>
        </div>
      </header>

      <div class="user-profile__body">
        <div class="user-profile__body__info">
          <img
            src="/images/profile/user-default-img.png"
            alt="유저 이미지"
            class="user-profile__body__info__img"
          />
          <div class="user-profile__body__info__content">
            <div class="user-profile__body__info__content__name">** 겠나</div>
            <span class="user-profile__body__info__content__rank"
              >(228,635 위)</span
            >
          </div>
        </div>

        <div class="user-profile__stats">
          <div class="stat-item">
            <div class="stat-item__left">
              <div class="stat-item__value__top">
                <img src="/icon/user_win_rate.svg" alt="승률" />
                승률
              </div>
              <div class="stat-item__value__bottom">33.33%</div>
            </div>
            <div class="stat-item__right">
              <div class="stat-item__value__top">
                <img src="/icon/user_score.svg" alt="승률" />킬뎃
              </div>
              <div class="stat-item__value__bottom">44.83%</div>
            </div>
          </div>
          <div class="stat-item">
            <div class="stat-item__left">
              <div class="stat-item__value__top">
                <img src="/icon/user_gun.svg" alt="승률" />라플
              </div>
              <div class="stat-item__value__bottom">38%</div>
            </div>
            <div class="stat-item__right">
              <div class="stat-item__value__top">
                <img src="/icon/user_gun.svg" alt="승률" />스나
              </div>
              <div class="stat-item__value__bottom">54.33%</div>
            </div>
          </div>
          <div class="stat-item">
            <div class="stat-item__left">
              <div class="stat-item__value__top">
                <img src="/icon/user_gun.svg" alt="승률" />특수
              </div>
              <div class="stat-item__value__bottom">49.33%</div>
            </div>
            <div class="stat-item__right">
              <div class="stat-item__value__top">
                <img src="/icon/user_gun.svg" alt="승률" />주무기
              </div>
              <div class="stat-item__value__bottom">스나</div>
            </div>
          </div>
          <div class="stat-item">
            <div class="stat-item__left">
              <div class="stat-item__value__top">
                <img src="/icon/user_clan.svg" alt="승률" />클랜
              </div>
              <div class="stat-item__value__bottom">냄비</div>
            </div>
            <div class="stat-item__right">
              <div class="stat-item__value__top">
                <img src="/icon/user_honor.svg" alt="승률" />매너
              </div>
              <div class="stat-item__value__bottom">최고</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
