<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../team-introduction/team-introduction.css" />
    <link rel="stylesheet" href="/src/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/pretendard@1.3.9/dist/web/static/pretendard-dynamic-subset.min.css"
    />
    <title>팀소개 컴포넌트</title>
    <script src="team-introduction.js"></script>
  </head>
  <body>
    <section class="team-intro container">
      <div class="team-intro__header">
        <span class="team-intro__team-name">TEAM 3보급창고</span>
        <h2 class="team-intro__title">코드는 깔끔하게, 기능은 탄탄하게</h2>
        <p class="team-intro__desc">팀 3보급창고는 Sudden Attack의 전적을 시원하게 조회하는 웹사이트를 구현했습니다.</p>
      </div>

      <ul class="team-intro__members">
        <li class="team-member">
          <div class="team-member__img-wrap member-img01"></div>
          <strong class="team-member__name">박민성</strong>
          <span class="team-member__info">INFJ/청도/ 01월 26일일</span>
          <p class="team-member__quote">
            “ 함께 성장하며, 기술의 흐름 속에<br />
            지속가능한 개발자로 나아갑니다. ”
          </p>
        </li>
        <li class="team-member">
          <div class="team-member__img-wrap member-img02"></div>
          <strong class="team-member__name">심현보</strong>
          <span class="team-member__info">ENFJ / 신림 / 07월 30일</span>
          <p class="team-member__quote">
            “ 함께 성장하며, 기술의 흐름 속에<br />
            지속가능한 개발자로 나아갑니다. ”
          </p>
        </li>
        <li class="team-member">
          <div class="team-member__img-wrap member-img03"></div>
          <strong class="team-member__name">윤정화</strong>
          <span class="team-member__info">ENFP / 하남 / 12월 24일</span>
          <p class="team-member__quote">
            “ 함께 성장하며, 기술의 흐름 속에<br />
            지속가능한 개발자로 나아갑니다. ”
          </p>
        </li>
        <li class="team-member">
          <div class="team-member__img-wrap member-img04"></div>
          <strong class="team-member__name">한우창</strong>
          <span class="team-member__info">ISTP / 서울 / 9월 22일</span>
          <p class="team-member__quote">
            “ 함께 성장하며, 기술의 흐름 속에<br />
            지속가능한 개발자로 나아갑니다. ”
          </p>
        </li>
      </ul>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
  </body>
</html>
