<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/style.css"/>
    <link rel="stylesheet" href="./convention.css"/>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/pretendard@1.3.9/dist/web/static/pretendard-dynamic-subset.min.css"
    />
    <title>컨벤션</title>
  </head>
  <body>
    <div class="container">
      <div class="convention-container">
        <span class="convention-container__team-name">TEAM 3보급창고</span>
        <h2 class="convention-container__title">저희는 이렇게 작업했습니다!</h2>
        <div class="convention-container__box">
            <div class="container__box__tab-container">
                <button class="tab-btn active" data-tab="convention">Convention</button>
                <button class="tab-btn" data-tab="scrum">Scrum</button>
                <button class="tab-btn" data-tab="timeline">Timeline</button>
                <button class="tab-btn" data-tab="retrospect">Retrospect</button>
            </div>
            <div class="container__box__contents-container">
                <div class="tab-content tab-content--convention active">
                    
                </div>
                <div class="tab-content tab-content--scrum">
                    
                </div>
                <div class="tab-content tab-content--timeline">
                  
                </div>
                <div class="tab-content tab-content--retrospect">
                    
                </div>
            </div>
        </div>
      </div>
    </div>
    <script type="module" src="./convention.js"></script>
  </body>
</html>
