<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="home-container">
        <section class="section-margin" id="main-visual-section"></section>
        
        <section class="section-margin" id="team-introduction-section"></section>
        
        <section class="section-margin" id="convention-section"></section>
        
        <section class="section-margin" id="main-button-section"></section>
    </div>
</body>
</html> 