<div class="container">
  <div class="flex-box">
    <div class="news-box">
      <div class="title-box">
        <img class="title-box__title-icon" src="/images/news-icon.png" alt=""/>
        <p class="font-bold">서든 News</p>
      </div>
      <div class="content-box">
        <p class="font-bold news-title" role="heading" aria-level="3">&lt;공지사항&gt;</p>
        <ul class="news-list">
          <li class="news-item"><a href="https://sa.nexon.com/news/notice/view.aspx?ArticleSN=147303" 
            target="_blank" class="news-link" aria-label="[점검] 7/24(목) 넥슨 정기점검 안내, 새 창에서 열림">
            <b>[점검]</b> 7/24(목) 넥슨 정기점검 안내</a></li>
          <li class="news-item"><a href="https://sa.nexon.com/news/notice/view.aspx?ArticleSN=147289" 
            target="_blank" class="news-link" aria-label="[점검] 7/18(금) 서든어택 임시점검 안내(오전 8시), 새 창에서 열림">
            <b>[점검]</b> 7/18(금) 서든어택 임시점검 안내(오전 8시)</a></li>
          <li class="news-item"><a href="https://sa.nexon.com/news/notice/view.aspx?ArticleSN=147267" 
            target="_blank" class="news-link" aria-label="[공지] 7/17(목) 2025 시즌3 2차 공식클랜 발표, 새 창에서 열림">
            <b>[공지]</b> 7/17(목) 2025 시즌3 2차 공식클랜 발표</a></li>
          <li class="news-item"><a href="https://sa.nexon.com/news/notice/view.aspx?ArticleSN=147204" 
            target="_blank" class="news-link" aria-label="[공지] 7/10(목) 2025 시즌3 1차 공식클랜 발표, 새 창에서 열림">
            <b>[공지]</b> 7/10(목) 2025 시즌3 1차 공식클랜 발표</a></li>
          <li class="news-item"><a href="https://sa.nexon.com/news/notice/view.aspx?ArticleSN=147208" 
            target="_blank" class="news-link" aria-label="[공지] 7월 지속 가능한 보안캠페인 진행 안내, 새 창에서 열림">
            <b>[공지]</b> 7월 지속 가능한 보안캠페인 진행 안내</a></li>
        </ul>

        <p class="font-bold news-title" role="heading" aria-level="3">&lt;업데이트&gt;</p>
        <ul class="news-list">
          <li class="news-item"><a href="https://sa.nexon.com/news/update/view.aspx?n4ArticleSN=810&n4ArticleCategorySN=0" 
            target="_blank" class="news-link" aria-label="(수정) 7/17(목) 오징어 게임 시즌3 콜라보 컨텐츠 2차! 외 10종, 새 창에서 열림">
            <b>(수정)</b> 7/17(목) 오징어 게임 시즌3 콜라보 컨텐츠 2차! 외 10종</a></li>
          <li class="news-item"><a href="https://sa.nexon.com/news/update/view.aspx?n4ArticleSN=809&n4ArticleCategorySN=0" 
            target="_blank" class="news-link" aria-label="(수정) 7/10(목) 스페셜 아이템으로 꽉 채운, 오늘의 스페셜 아이템 특별 판매 외 9종, 새 창에서 열림">
            <b>(수정)</b> 7/10(목) 스페셜 아이템으로 꽉 채운, 오늘의 스페셜 아이템 특별 판매 외 9종</a></li>
          <li class="news-item"><a href="https://sa.nexon.com/news/update/view.aspx?n4ArticleSN=808&n4ArticleCategorySN=0" 
            target="_blank" class="news-link" aria-label="(수정) 7/3(목) 기간 한정 &lt;오징어 게임&gt; 미로 계단 업데이트 외 20종!, 새 창에서 열림">
            <b>(수정)</b> 7/3(목) 기간 한정 &lt;오징어 게임&gt; 미로 계단 업데이트 외 20종!</a></li>
          <li class="news-item"><a href="https://sa.nexon.com/news/update/view.aspx?n4ArticleSN=807&n4ArticleCategorySN=0" 
            target="_blank" class="news-link" aria-label="(수정) 6/26(목) 조유리 캐릭터 출시! 외 12종, 새 창에서 열림">
            <b>(수정)</b> 6/26(목) 조유리 캐릭터 출시! 외 12종</a></li>
          <li class="news-item"><a href="https://sa.nexon.com/news/update/view.aspx?n4ArticleSN=806&n4ArticleCategorySN=0" 
            target="_blank" class="news-link" aria-label="(수정) 6/19(목) 무기 컬렉션 대표 스킨 무기, 챔피언 무기 출시 외 9종, 새 창에서 열림">
            <b>(수정)</b> 6/19(목) 무기 컬렉션 대표 스킨 무기, 챔피언 무기 출시 외 9종</a></li>
        </ul>
      </div>
    </div>

    <div class="news-box">
      <div class="title-box">
        <img class="title-box__title-icon" src="/images/event-icon.png" alt=""/>
        <p class="font-bold">서든 Event</p>
      </div>
      <div class="content-box">
        <div class="event-list">
          <a class="event-item" target="_blank" aria-labelledby="eventTitle1" 
          href="https://sa.nexon.com/news/update/view.aspx?n4ArticleSN=810&n4ArticleCategorySN=0&evts=tg_163010">
            <img src="/images/event-image.png" alt="스페셜 패키지 특별판매" class="event-img" aria-hidden="true"/>
            <div class="event-info">
              <div class="event-title" id="eventTitle1">스페셜 패키지 특별판매</div>
              <div class="event-desc">마이건 Lv70기념! Lv100기념 특별판매와 보너스!</div>
              <div class="event-period">기간 : 2025.07.17 ~ 2025.07.24</div>
            </div>
          </a>
          <a class="event-item" target="_blank" aria-labelledby="eventTitle2"
          href="https://sa.nexon.com/news/update/view.aspx?n4ArticleSN=810&n4ArticleCategorySN=0&evts=tg_182044">
            <img src="/images/event-image2.png" alt="쿨썸머 PC방 파티 이벤트!" class="event-img" aria-hidden="true"/>
            <div class="event-info">
              <div class="event-title" id="eventTitle2">쿨썸머 PC방 파티 이벤트!</div>
              <div class="event-desc">매일 미션 달성 시 Marble 등급과 PC방 파티 상자 지급!</div>
              <div class="event-period">기간 : 2025.07.17 ~ 2025.07.31</div>
            </div>
          </a>
          <a class="event-item" target="_blank" aria-labelledby="eventTitle3"
          href="https://sa.nexon.com/news/update/view.aspx?n4ArticleSN=809&n4ArticleCategorySN=0&evts=tg_16298">
            <img src="/images/event-image3.png" alt="오늘의 아이템 특별판매" class="event-img" aria-hidden="true"/>
            <div class="event-info">
              <div class="event-title" id="eventTitle3">오늘의 아이템 특별판매</div>
              <div class="event-desc">매일 매일! 스페셜 아이템 단 24시간 한정 특별 판매!</div>
              <div class="event-period">기간 : 2025.07.17 ~ 2025.07.24</div>
            </div>
          </a>
          <a class="event-item" target="_blank" aria-labelledby="eventTitle4"
          href="https://sa.nexon.com/news/update/view.aspx?n4ArticleSN=809&n4ArticleCategorySN=0&evts=tg_163018">
            <img src="/images/event-image4.png" alt="이열치열, 협동 이벤트!" class="event-img" aria-hidden="true"/>
            <div class="event-info">
              <div class="event-title" id="eventTitle4">이열치열, 협동 이벤트!</div>
              <div class="event-desc">일일 미션 달성하고 귀여운 협동 미션 완료하라!</div>
              <div class="event-period">기간 : 2025.07.17 ~ 2025.07.24</div>
            </div>
          </a>
          <a class="event-item" target="_blank" aria-labelledby="eventTitle5"
          href="https://event.sa.nexon.com/250703/intro_season3">
            <img src="/images/event-image5.png" alt="서든어택 시즌3 Revival" class="event-img" aria-hidden="true"/>
            <div class="event-info">
              <div class="event-title" id="eventTitle5">서든어택 시즌3 Revival</div>
              <div class="event-desc">특별 미션! 즉시 수수께끼 기프트 세트 100% 지급!</div>
              <div class="event-period">기간 : 2025.07.17 ~ 2025.07.24</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="ranking-container">
    <div class="ranking-tabs">
      <button class="ranking-tab active" data-type="total">통합랭킹</button>
      <button class="ranking-tab" data-type="season">시즌랭킹</button>
    </div>
    <div class="ranking-table-wrapper">
      <table class="ranking-table">
        <thead>
          <tr>
            <th>랭킹</th>
            <th>계급</th>
            <th>닉네임</th>
            <th>승률</th>
            <th>킬데스</th>
            <th>전적</th>
          </tr>
        </thead>
        <tbody id="rankingTableBody"></tbody>
      </table>
    </div>
  </div>
</div>