:root {
  /* color styles */
  --main-color: #d52c7d;
  --deepgray-color: #1c1c1c;
  --lightgray-color: #333333;
  --font-color: #ffffff;
  --sub-font-color: #aaaaaa;
  --line-color: rgba(255, 255, 255, 0.3);

  /* Text-size styles */
  --font-size-XXS: 12px;
  --font-size-XS: 14px;
  --font-size-S: 15px;
  --font-size-M: 16px;
  --font-size-L: 24px;
  --font-size-XL: 28px;
  --font-size-XXL: 36px;
  --font-size-XXXL: 50px;

  /* basic styles */
  font-family: "Pretendard Variable";
  line-height: 1;
  font-weight: 400;
  color: rgba(255, 255, 255);
  background-color: #000000;
}

/* 기본 속성 초기화 */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

ul,
ol,
li,
a {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
}

button {
  color: inherit; /* 부모 색상 상속 */
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

/* 접근성 관련 CSS */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border-width: 0;
  white-space: nowrap;
}

/* 반응형 layout */
.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

html {
  /* 기본 크기 */
  font-size: var(--font-size-XXS);
}

@media (min-width: 768px) {
  html {
    /* 뷰포트 최소크기 768px 이상*/
    font-size: var(--font-size-XS);
  }
}

@media (min-width: 1024px) {
  html {
    /* 뷰포트 최소크기 1024px 이상*/
    font-size: var(--font-size-S);
  }
}

@media (min-width: 1280px) {
  html {
    /* 뷰포트 최소크기 1280px 이상 */
    font-size: var(--font-size-M);
  }
}
