<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/pretendard@1.3.9/dist/web/static/pretendard-dynamic-subset.min.css"
    />
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="other-Info.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="clan-profile">
      <header class="clan-profile__header">
        <h2 class="clan-profile__title">클랜전</h2>
      </header>

      <div class="clan-profile__body">
        <div class="clan-profile__emblem">
          <img class="clan-profile__emblem__img" src="/icon/user_clan.svg" alt="클랜 아이콘" />
        </div>
        <div class="clan-profile__name">원사</div>

        <div class="clan-profile__stats">
          <div class="stat-item">
            <div class="stat-item__label"><img src="/icon/user_win_rate.svg" alt="승률" />전적</div>
            <div class="stat-item__value">122전 87승 (71.31%)</div>
          </div>
          <div class="stat-item">
            <div class="stat-item__label"><img src="/icon/user_score.svg" alt="승률" />킬뎃</div>
            <div class="stat-item__value stat-item__value--danger">65.58%</div>
          </div>
          <div class="stat-item">
            <div class="stat-item__label"><img src="/icon/user_crits_shot.svg" alt="승률" />헤드샷</div>
            <div class="stat-item__value">5.87%</div>
          </div>
          <div class="stat-item">
            <div class="stat-item__label"><img src="/icon/user_dealing.svg" alt="승률" />딜량</div>
            <div class="stat-item__value">2,877</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
