<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../score-info/score-info.css" />
    <link rel="stylesheet" href="/src/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/pretendard@1.3.9/dist/web/static/pretendard-dynamic-subset.min.css"
    />
    <title>전적-안내 컴포넌트</title>
  </head>
  <body>
    <div class="score-info container" role="alert" aria-label="매치 정보 알림">
      <p class="score-info__text">
        <strong class="score-info__text-bold">본 사이트는 바닐라프로젝트를 위한 테스트용 서버입니다.</strong><br />
        최근 전적이 1,000경기를 넘는 경우 매치 정보가 표시되지 않으며, 금일 데이터는 조회되지 않습니다.
      </p>
    </div>
    <script type="module" src="./score-info.js"></script>
  </body>
</html>
